html {
  /* 16px x 62.5 = 10px = 1rem*/
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  /* 16px*1.6 */
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

/* layout */

.grid-container {
  display: grid;
  grid-template-areas: 'header' 'main' 'footer';
  grid-column: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}

/* header */

header {
  grid-area: header;
  background-color: #000814
}

a.brand {
  color: #ffd60a;
  font-size: 3rem;
  font-weight: bold;
}

main {
  grid-area: main;
  padding: 1rem;
}

footer {
  grid-area: footer;
  background-color: #001d3d;
  color: #ffd60a;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.6rem;
  padding: 1rem 0;
}

/* common */

a {
  text-decoration: none;
  color: #ffd60a;
}

a:hover {
  color: #ffc300;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

li {
  margin-top: 1rem;
}

input, select, textarea, button {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem #7bd17b solid;
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  background-color: #f8f8f8;
  cursor: pointer;
}

input:hover, select:hover, textarea:hover, button :hover {
  border: 0.1rem red;
}

button.primary {
  background-color: #ffc300;
}

button.block {
  background-color: grey;
}

header a {
  color: AED1E6;
}
.badge{
  background-color: red;
  color: wheat;
  border-radius: 50%;
  padding: 0.2rem 0.7rem;
  font-size:1.4rem;
  margin-left: 0.2rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.row.top {
  align-items: flex-start;
}

.col-1 {
  flex: 1 1 25rem;
}

.col-2 {
  flex: 2 1 50rem;
}

.row.center {
  justify-content: center;
}

/* image */

img {
  border-radius: 0.5rem;
}

img.medium {
  max-width: 29rem;
  width: 100%;
}

img.large {
  width: 100%;
}

.card {
  border: 0.1rem #c0c0c0 solid;
  background-color: #f8f8f8;
  border-radius: 0.5rem;
  margin: 1rem;
}

.card-body {
  padding: 1rem;
}

.card-body>* {
  margin-bottom: 0.5rem;
}

.price {
  font-size: 2rem;
}

/* rating */

.rating span {
  color: palevioletred;
  margin: 0.1rem;
}

.rating span:last-child {
  color: #000814;
}

/* Status */

.success {
  color: #20a020
}

.error {
  color: red
}

.alert {
  padding: 1rem;
  border: 0.1rem solid transparent;
  border: 0.5rem;
}

.alert-info {
  color: #202020;
  background-color: #e0e0ff;
}

.alert-danger {
  color: red;
  background-color: rgba(216, 155, 155, 0.267);
}